<span>Sort by: 
    <a href='/' class="<%= @sort == "incomplete" ? 'active' : '' %>">Incomplete</a> | 
    <a href='/completed' class="<%= @sort == "completed" ? 'active' : '' %>">Completed</a> |
    <a href='/all' class="<%= @sort == "all" ? 'active' : '' %>">All</a> 
</span>