<div class="my-4 text-sm md:text-base">Sort: 
  <a href='/' class="<%= @sort == "all" ? 'active' : '' %> sort-btn">All</a> |
  <a href='/incomplete' class="<%= @sort == "incomplete" ? 'active' : '' %> sort-btn">Incomplete</a> |
  <a href='/completed' class="<%= @sort == "completed" ? 'active' : '' %> sort-btn">Completed</a>
</div>
