<div class="">
    <h1 class="text-gray-900 font-semibold text-3xl md:text-5xl mt-10">You need to do this stuff:</h1>
    <% if user_signed_in? %>
        <%= render 'sort' %>
        <%= render 'form', task: @task %>
        <%= render 'tasklist' if @tasks.any? %>
    <% end %>
</div>