<main>
    <h1 class="text-gray-900 font-semibold text-3xl md:text-5xl mt-6 text-center">You need to do this stuff:</h1>
    <div id="task-container">
        <% if user_signed_in? %>
            <%= turbo_stream_from current_user, "tasks" %>
            <%= render 'sort' %>
            <%= render 'form', task: @task %>
            <%= render 'tasklist' if @tasks.any? %>
        <% end %>
    </div>
</main>