<div class="navitem font-semibold uppercase tracking-wider flex items-center ml-2">
  <% if !user_signed_in? %>
      <span class="mx-2 hover:text-gray-600">
        <%= link_to new_user_session_path, id: "login_link" do %>
            Log In
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 inline-block" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <title>Log In</title>
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 16l-4-4m0 0l4-4m-4 4h14m-5 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h7a3 3 0 013 3v1" /> 
            </svg>
        <% end %>
      </span>
      <span class="mx-2 hover:text-gray-600">
        <%= link_to new_user_registration_path do %>
          Sign up
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 inline-block" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
          </svg>  
        <% end %>
      </span>
  <% else %>
      <span class="mx-2 hover:text-gray-600">
        <%= link_to(destroy_user_session_path, method: :delete) do %>
          Log out
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 inline-block" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" />
          </svg>
        <% end %>
      </span>
  <% end %>
</div>  
