/* Main Layout */

body {
  background-color: var(--color-bg-body);
  position: relative;
}

main {
  margin-left: var(--spacing-2);
  margin-right: var(--spacing-2);
}

@media (min-width: 768px) {
  main {
    width: 50%;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
