/* Wrapper with Grid Background */

.wrapper {
  min-height: calc(100vh - 5vh);
  background-image: url('grid.svg');
  background-size: 6.68%;
  background-repeat: repeat;
  padding-top: 2em;
  padding-bottom: 2em;
}

@media (min-width: 768px) {
  .wrapper {
    margin-inline: 5vw;
    border-inline: 3px solid var(--color-primary);
  }
}
