@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components {
  .sort-btn {
    @apply px-3 border-2 rounded-full border-gray-600 bg-gray-500 text-gray-300 font-bold;
  }
  .sort-btn:hover {
    @apply bg-gray-900 text-white;
  }
  .active {
    @apply bg-gray-700 text-gray-200; 
  }
  .completed::before {
    content: ""; 
    top: 55%;
    @apply absolute inset-x-1 h-0.5 bg-gray-900;
    border-top-left-radius: .0625rem;
    border-bottom-left-radius: .0625rem;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
  }
  .task-rows:nth-child(odd){
    @apply  bg-white;
    @apply bg-opacity-0;
  }
  .task-rows:nth-child(even){
    // @apply  bg-white;
    // @apply bg-opacity-50;
  }
  .wrapper{
    @apply bg-grid;
  }
}
body{
  background-color: #eaefdb;
  position: relative;
}
header {
  height: 5vh;
  border-bottom: 3px solid #066d58;
}
main{
  @apply mx-2;
}
main > h1, #tasklist, input#task_name{
  font-family: 'Architects Daughter', cursive;
  @apply tracking-wide;
}
.navwrapper{
  height: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
}
.navitem{
  height: 100%;
  grid-column: 3;
}
.wrapper{
  min-height: calc(100vh - 5vh);
  background-size: 6.68%;
  background-repeat: repeat;
  padding-top: 2em;
  padding-bottom: 2em;
}
footer{
  height: 3rem;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
}
.footer {
  width: 50%;
  height: 100%;
  margin-inline: auto;
}
@media (min-width: 768px){
  main{
    width: 50%;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .navwrapper::before{
    content: "";
    grid-row: 1;
    grid-column: 1;
    border-right: 3px solid #066d58;
  }
  .navwrapper::after{
    content: "";
    grid-row: 1;
    grid-column: 2;
    border-right: 3px solid #066d58;
  }
  .wrapper,.navwrapper{
    margin-inline: 5vw;
    border-inline: 3px solid #066d58;
  }
  
}

@keyframes strike {
  from {right: 100%;}
  to {right: .25rem;}
}
@keyframes erase {
  from {right: .25rem; }
  to {right: 100%}
}
.strikethru::before{
  content: "";
  @apply absolute h-0.5 bg-gray-900;
  top: 55%;
  left: .25rem;
  border-top-left-radius: .0625rem;
  border-bottom-left-radius: .0625rem;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  animation-name: strike;
  animation-duration: 50ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}
.remove-strikethru::before{
  content: "";
  @apply absolute h-0.5 bg-gray-900;
  top: 55%;
  left: .25rem;
  border-top-left-radius: .0625rem;
  border-bottom-left-radius: .0625rem;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  animation-name: erase;
  animation-duration: 50ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}
