@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components {
  .sort-btn {
    @apply px-3 border-2 rounded-full border-gray-600 bg-gray-500 text-gray-300 font-bold;
  }
  .sort-btn:hover {
    @apply bg-gray-900 text-white;
  }
  .active {
    @apply bg-gray-700 text-gray-200; 
  }
  // .completed {
  //   // @apply line-through;
  // }
  .completed::before {
    content: ""; 
    top: 55%;
    @apply absolute inset-x-1 h-0.5 bg-gray-900;
    border-top-left-radius: .0625rem;
    border-bottom-left-radius: .0625rem;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
  }
  .task-rows:nth-child(odd){
    @apply  bg-white;
    @apply bg-opacity-0;
  }
  .task-rows:nth-child(even){
    @apply  bg-white;
    @apply bg-opacity-50;
  }
}
@keyframes strike {
  from {right: 100%;}
  to {right: .25rem;}
}
@keyframes erase {
  from {right: .25rem; }
  to {right: 100%}
}
.strikethru::before{
  content: "";
  @apply absolute h-0.5 bg-gray-900;
  top: 55%;
  left: .25rem;
  border-top-left-radius: .0625rem;
  border-bottom-left-radius: .0625rem;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  animation-name: strike;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
  // animation-iteration-count: infinite;
  // animation-direction: alternate-reverse;
}
.remove-strikethru::before{
  content: "";
  @apply absolute h-0.5 bg-gray-900;
  top: 55%;
  left: .25rem;
  border-top-left-radius: .0625rem;
  border-bottom-left-radius: .0625rem;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  animation-name: erase;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
  // animation-iteration-count: infinite;
  // animation-direction: alternate-reverse;
}