/* Form Components */

.form-container {
  margin-top: var(--spacing-4);
  display: inline-block;
  box-shadow: var(--shadow-md);
  width: 60%; /* was w-3/5 */
}

@media (min-width: 768px) {
  .form-container {
    width: auto;
  }
}

.form-input {
  margin-top: 0;
  background-color: transparent;
  display: block;
  width: 100%;
  padding-left: var(--spacing-0-5);
  padding-right: var(--spacing-0-5);
  border: 0;
  border-bottom: 2px solid var(--color-gray-500);
}

.form-input::placeholder {
  color: var(--color-gray-900);
}

.form-input:focus {
  outline: none;
  box-shadow: none;
  border-color: #000000;
}

input[type="checkbox"] {
  height: var(--spacing-6);
  width: var(--spacing-6);
  border-radius: var(--radius);
}
